.custom-carousel-image {
    width: 75%; 
    max-width: 800px; 
    margin: 0 auto; 
    height: auto; 
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    
}

.titulo1-listyourproperty {

    padding-top: 15px;

}