.custom-carousel-image {
    width: 75%; /* Ajusta el ancho según tus necesidades */
    max-width: 800px; /* Máximo ancho para pantallas grandes */
    margin: 0 auto; /* Centra las imágenes dentro del carrusel */
    height: auto; /* Mantén la proporción de la imagen */
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    
}

.titulo1-listyourproperty {

    padding-top: 15px;

}